<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--mysql 连接数据库jar 这里选择自己本地位置-->
    <classPathEntry
            location="/Jeffrey/2.Code/mysql-connector-java-5.1.30.jar"/>
    <context id="firstMoneyTables" targetRuntime="MyBatis3">
        <plugin type="com.ronmob.mybatis.LimitPlugin"/>

        <commentGenerator>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!--数据库连接的信息：驱动类、连接地址、用户名、密码 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://120.24.91.202:3306/first_money?useUnicode=true" userId="dev"
                        password="yxHNajWcrKJLrfXP">
        </jdbcConnection>
        <!-- 默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer，为 true时把JDBC DECIMAL 和
           NUMERIC 类型解析为java.math.BigDecimal -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>

        <!-- targetProject:生成PO类的位置 -->
        <javaModelGenerator targetPackage="com.ronmob.qz.model"
                            targetProject="src/main/java">
            <!-- enableSubPackages:是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="false"/>
            <!-- 从数据库返回的值被清理前后的空格 -->
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!-- targetProject:mapper映射文件生成的位置
           如果maven工程只是单独的一个工程，targetProject="src/main/java"
           若果maven工程是分模块的工程，targetProject="所属模块的名称"，例如：
           targetProject="ecps-manager-mapper"，下同-->
        <sqlMapGenerator targetPackage="com.ronmob.qz.dao.mapper"
                         targetProject="src/main/java">
            <!-- enableSubPackages:是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>
        <!-- targetPackage：mapper接口生成的位置 -->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.ronmob.qz.dao"
                             targetProject="src/main/java">
            <!-- enableSubPackages:是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>
        <!-- 指定数据库表 -->
        <table schema="" tableName="survey">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="" tableName="survey_class">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="" tableName="survey_dimension">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="" tableName="survey_dimension_score_text">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="" tableName="survey_question">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="" tableName="user">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="" tableName="user_distribution">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="" tableName="user_score_log">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="" tableName="user_survey">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="" tableName="pay_order">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>