<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ronmob.qz.dao.SurveyDimensionScoreTextMapper">
    <resultMap id="SurveyDimensionScoreTextResultMap" type="com.ronmob.qz.model.SurveyDimensionScoreText">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="dimension_id" property="dimension_id" jdbcType="INTEGER"/>
        <result column="score_max" property="score_max" jdbcType="INTEGER"/>
        <result column="score_min" property="score_min" jdbcType="INTEGER"/>
        <result column="result_title" property="result_title" jdbcType="VARCHAR"/>
        <result column="result_comment" property="result_comment" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <!-- 获取问卷维度评分列表 -->
    <select id="getSurveyDimensionScoreTexts" resultMap="SurveyDimensionScoreTextResultMap"
            parameterType="com.ronmob.qz.vo.SurveyDimensionScoreTextListSearchVo">
        SELECT * FROM survey_dimension_score_text WHERE 1=1
        <if test="surveyDimensionScoreText!=null and surveyDimensionScoreText.id != null">
            AND id = #{surveyDimensionScoreText.id}
        </if>
        <if test="surveyDimensionScoreText!=null and surveyDimensionScoreText.dimension_id != null">
            AND dimension_id = #{surveyDimensionScoreText.dimension_id}
        </if>
        <if test="page != null">
            limit #{page.firstResult},#{page.everyPageCount};
        </if>
    </select>

    <!-- 获取问卷维度评分列表数量 -->
    <select id="getSurveyDimensionScoreTextCount" resultType="java.lang.Integer"
            parameterType="com.ronmob.qz.vo.SurveyDimensionScoreTextListSearchVo">
        SELECT COUNT(*) FROM survey_dimension_score_text WHERE 1=1
        <if test="surveyDimensionScoreText!=null and surveyDimensionScoreText.id != null">
            AND id = #{surveyDimensionScoreText.id}
        </if>
        <if test="surveyDimensionScoreText!=null and surveyDimensionScoreText.dimension_id != null">
            AND dimension_id = #{surveyDimensionScoreText.dimension_id}
        </if>
    </select>

    <!-- 新增问卷维度评分 -->
    <insert id="insertSurveyDimensionScoreText" parameterType="com.ronmob.qz.model.SurveyDimensionScoreText" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO survey_dimension_score_text
        (dimension_id,score_max,score_min,result_title,result_comment)
        VALUES
        (#{dimension_id},#{score_max},#{score_min},#{result_title},#{result_comment})
    </insert>

    <!-- 更新问卷维度评分 -->
    <update id="updateSurveyDimensionScoreText" parameterType="com.ronmob.qz.model.SurveyDimensionScoreText">
		UPDATE survey_dimension_score_text
		SET
		dimension_id=#{dimension_id},score_max=#{score_max},score_min=#{score_min},
		result_title=#{result_title},result_comment=#{result_comment}
		WHERE id=#{id}
	</update>

    <delete id="deleteSurveyDimensionScoreTextById" parameterType="java.lang.Integer">
        DELETE FROM survey_dimension_score_text WHERE id=#{id}
    </delete>
</mapper>