<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ronmob.qz.dao.SurveyDimensionMapper">
    <resultMap id="SurveyDimensionResultMap" type="com.ronmob.qz.model.SurveyDimension">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_id" property="result" jdbcType="INTEGER"/>
        <result column="survey_id" property="survey_id" jdbcType="INTEGER"/>
        <result column="seq" property="seq" jdbcType="INTEGER"/>
        <result column="dimension_name" property="dimension_name" jdbcType="VARCHAR"/>
        <result column="auto_calculate_type" property="auto_calculate_type" jdbcType="INTEGER"/>
        <result column="proxy_sub_dimension_id" property="proxy_sub_dimension_id" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 获取问卷维度列表 -->
    <select id="getSurveyDimensions" resultMap="SurveyDimensionResultMap"
            parameterType="com.ronmob.qz.vo.SurveyDimensionListSearchVo">
        SELECT * FROM survey_dimension WHERE 1=1
        <if test="surveyDimension!=null and surveyDimension.id != null">
            AND id = #{surveyDimension.id}
        </if>
        <if test="surveyDimension!=null and surveyDimension.survey_id != null">
            AND survey_id = #{surveyDimension.survey_id}
        </if>
        <if test="surveyDimension!=null and surveyDimension.seq != null">
            AND seq = #{surveyDimension.seq}
        </if>
        <if test="surveyDimension!=null and surveyDimension.parent_id != null">
            AND parent_id = #{surveyDimension.parent_id}
        </if>
        <if test="page != null">
            limit #{page.firstResult},#{page.everyPageCount};
        </if>
    </select>

    <!-- 获取问卷维度列表数量 -->
    <select id="getSurveysCount" resultType="java.lang.Integer"
            parameterType="com.ronmob.qz.vo.SurveyDimensionListSearchVo">
        SELECT COUNT(*) FROM survey_dimension WHERE 1=1
        <if test="surveyDimension!=null and surveyDimension.id != null">
            AND id = #{surveyDimension.id}
        </if>
        <if test="surveyDimension!=null and surveyDimension.survey_id != null">
            AND survey_id = #{surveyDimension.survey_id}
        </if>
        <if test="surveyDimension!=null and surveyDimension.seq != null">
            AND seq = #{surveyDimension.seq}
        </if>
        <if test="surveyDimension!=null and surveyDimension.parent_id != null">
            AND parent_id = #{surveyDimension.parent_id}
        </if>
    </select>

    <!-- 新增问卷维度 -->
    <insert id="insertSurveyDimension" parameterType="com.ronmob.qz.model.SurveyDimension" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        INSERT INTO survey_dimension
        (parent_id,survey_id,seq,dimension_name,auto_calculate_type,proxy_sub_dimension_id)
        VALUES
        (#{parent_id},#{survey_id},#{seq},#{dimension_name},#{auto_calculate_type},#{proxy_sub_dimension_id})
    </insert>

    <!-- 更新问卷维度 -->
    <update id="updateSurvey" parameterType="com.ronmob.qz.model.SurveyDimension">
		UPDATE survey_dimension
		SET
		parent_id=#{parent_id},survey_id=#{survey_id},seq=#{seq},dimension_name=#{dimension_name},
		auto_calculate_type=#{auto_calculate_type},proxy_sub_dimension_id=#{proxy_sub_dimension_id}
		WHERE id=#{id}
	</update>

    <delete id="deleteSurveyDimensionById" parameterType="java.lang.Integer">
        DELETE FROM survey_dimension WHERE id=#{id}
    </delete>
</mapper>