UserSurveyMapper.xml<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ronmob.qz.dao.UserSurveyMapper">
    <resultMap id="BaseResultMap" type="com.ronmob.qz.model.UserSurvey">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="order_number" jdbcType="Integer"/>
        <result column="p_user_id" property="order_number" jdbcType="VARCHAR"/>
        <result column="status" property="order_number" jdbcType="VARCHAR"/>
        <result column="survey_id" property="order_number" jdbcType="VARCHAR"/>
        <result column="order_id" property="order_number" jdbcType="VARCHAR"/>
        <result column="finish_time" property="order_number" jdbcType="VARCHAR"/>
        <result column="answer" property="order_number" jdbcType="VARCHAR"/>
        <result column="result" property="order_number" jdbcType="VARCHAR"/>
        <result column="class_name" property="order_number" jdbcType="VARCHAR"/>
        <result column="is_need_sex" property="order_number" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserSurveyList" parameterType="com.ronmob.qz.vo.UserListSearchVo"
            resultMap="BaseResultMap">
		select * from pay_order where id= #{id}
	</select>
</mapper>