<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ronmob.qz.dao.UserMapper">
    <resultMap id="UserMap" type="com.ronmob.qz.model.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="user_name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="wx_user_name" property="wx_user_name" jdbcType="VARCHAR"/>
        <result column="wx_open_id" property="wx_open_id" jdbcType="VARCHAR"/>
        <result column="is_agent" property="is_agent" jdbcType="INTEGER"/>
        <result column="agent_pay_order_id" property="agent_pay_order_id" jdbcType="INTEGER"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="balance" property="balance" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="getUserById" parameterType="java.lang.Integer"
            resultMap="UserMap">
		select * from user where id= #{id}
	</select>

    <!-- 获取用户列表 -->
    <select id="getUsers" resultMap="UserMap"
            parameterType="com.ronmob.qz.vo.UserListSearchVo">
        select * from user where 1=1
        <if test="user!=null and user.id != null">
            and id = #{user.id}
        </if>
        <if test="user!=null and user.wx_open_id != null">
            and user = #{user.wx_open_id}
        </if>
        <if test="user!=null and user.is_agent != null">
            and is_agent = #{user.is_agent}
        </if>
        <if test="user!=null and user.password != null">
            and password =#{user.password}
        </if>
        <if test="user!=null and user.mobile != null">
            and mobile = #{user.mobile}
        </if>
        <if test="page != null">
            limit #{page.firstResult},#{page.everyPageCount};
        </if>
    </select>

    <!-- 获取用户列表数量 -->
    <select id="getUserCount" resultType="java.lang.Integer"
            parameterType="com.ronmob.qz.vo.UserListSearchVo">
        select count(*) from user where 1=1
        <if test="user!=null and user.id != null">
            and id = #{user.id}
        </if>
        <if test="user!=null and user.wx_open_id != null">
            and user = #{user.wx_open_id}
        </if>
        <if test="user!=null and user.is_agent != null">
            and is_agent = #{user.is_agent}
        </if>
        <if test="user!=null and user.password != null">
            and password =#{user.password}
        </if>
        <if test="user!=null and user.mobile != null">
            and mobile = #{user.mobile}
        </if>
    </select>

    <!-- 新增用户 -->
    <insert id="inserUser" parameterType="com.ronmob.qz.model.User">
        <selectKey resultType="java.lang.Integer" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user
        (user_name,password,mobile,wx_user_name,wx_open_id,is_agent,agent_pay_order_id,score,balance)
        values
        (#{user_name},#{password},#{mobile},#{wx_user_name},#{wx_open_id},
        #{is_agent},#{agent_pay_order_id},#{score},#{balance})
    </insert>

    <!-- 更新用户 -->
    <update id="updateUser" parameterType="com.ronmob.qz.model.User">
        update survey
        set
        user_name=#{user_name},password=#{password},mobile=#{mobile},wx_user_name=#{wx_user_name},
        wx_open_id=#{wx_open_id},is_agent=#{is_agent},agent_pay_order_id=#{agent_pay_order_id},score=#{score},balance=#{balance}
        where id=#{id}
    </update>
</mapper>